html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, img, i, ol, ul, li,
form, label, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

figure, footer, header, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
  text-align: left;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/Montserrat-Black.ttf");
}
* {
  font-family: Montserrat Regular, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Ubuntu;
  scroll-behavior: smooth;
}

body {
  height: 3000px;
}

.container {
  display: block;
}

.logo {
  width: 220px;
  height: auto;
  left: 12px;
  position: absolute;
}

.navbar {
  font-family: "Montserrat Bold";
  height: 140px;
  display: flex;
}
.navbar__nav {
  margin: 0 0 0 365px;
  display: flex;
  align-items: center;
  letter-spacing: normal;
}
.navbar__nav__item {
  display: inline-block;
  font-size: 15px;
}
.navbar__nav .item-2 {
  margin: 0 0 0 92px;
}
.navbar__nav .item-3 {
  padding: 0 0 0 81px;
  color: #ffffff;
}
.navbar__nav .item-4 {
  padding: 0 0 0 92px;
  color: #ffffff;
}
.navbar__nav .item-5 {
  padding: 0 0 0 76px;
  color: #ffffff;
}

.navySalt {
  width: 100vw;
  height: 700px;
  display: flex;
}
.navySalt__bagImg {
  width: 65.2vw;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}
.navySalt__contents {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.navySalt__contents__nav {
  height: auto;
  width: 12%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 0 2px;
}
.navySalt__contents__nav .up-icon {
  font-size: 1.8em;
  color: #b8a47e;
}
.navySalt__contents__nav .down-icon {
  font-size: 1.8em;
  color: black;
  padding: 18px 0 0 0;
}
.navySalt__contents__nav .vertical-line {
  margin: 5px 0 0 0;
}
.navySalt__contents__nav .circle {
  width: 76px;
  height: 76px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 33px 0 0 0;
}
.navySalt__contents__nav .circle p {
  font-size: 2.5em;
  font-weight: bold;
}
.navySalt__contents__nav ul {
  margin: 20px 0 0 0;
  font-size: 1.1em;
  font-weight: bold;
}
.navySalt__contents__nav ul li {
  padding: 19px 0 0 0;
}
.navySalt__contents__text {
  padding: 178px 0 0 118px;
}
.navySalt__contents__text p {
  font-family: "Montserrat Regular";
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.navySalt__contents__text h1 {
  font-family: "Montserrat Bold";
  padding: 23px 0 0 0;
  font-size: 3.2em;
  font-weight: 400;
  letter-spacing: 10px;
  word-spacing: 5px;
}
.navySalt__contents__text .horizontal-line {
  display: inline-block;
}
.navySalt__contents__text .link {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  display: flex;
  align-items: center;
  margin: 63px 0 0 100px;
}
.navySalt__contents__text .link span {
  padding: 0 0 0 18px;
  color: #b8a47e;
}
.navySalt__contents__text .link .right-icon {
  padding: 0 0 0 12px;
  color: #b8a47e;
}

.vertical-line {
  width: 1px;
  height: 40px;
  background-color: #b8a47e;
}

.horizontal-line {
  width: 40px;
  height: 1px;
  background-color: #b8a47e;
}

.voyager {
  width: 100vw;
  height: 1000px;
  display: flex;
}
.voyager__header {
  width: 800px;
  height: 100px;
  color: #ffffff;
  display: block;
  position: absolute;
  right: 32.5%;
  margin: 283px 0 0 0;
  text-align: right;
}
.voyager__header h1 {
  font-family: "Montserrat Bold";
  font-size: 3em;
  padding: 0 3.8% 0 0;
  letter-spacing: 0.265em;
}
.voyager__header p {
  margin: 17px;
  font-size: 1.3em;
}
.voyager__img {
  margin: 72px 0 0 0;
  width: 1280px;
  height: 574px;
  z-index: -3;
}
.voyager__textbox {
  width: 46.5%;
  height: 315px;
  display: block;
  position: absolute;
  right: 8.2%;
  margin: 179px 0 0 0;
  border: 3px solid #b8a47e;
  z-index: 1;
}
.voyager__textbox__text {
  display: flex;
  position: absolute;
  right: 9.8%;
  top: 56px;
  width: 38%;
  height: auto;
}
.voyager__textbox__text .text {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  line-height: 35px;
  font-size: 0.95em;
  line-height: 2.55em;
  letter-spacing: -0.02em;
}
.voyager__arrowbox {
  right: 16.3%;
  margin: 485px 0 0 0;
}

.arrowbox {
  width: 195px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.arrowbox .arrow {
  width: 15px;
}/*# sourceMappingURL=index.css.map */